%h1.title Code

%h3 Current Projects

%ul
  %li
    This website including the blogging engine.
    = link_to 'source code', 'http://github.com/akincisor/site/tree'
  %li
    My helper scripts and configuration files.
    = link_to 'source code', 'http://github.com/akincisor/settings/tree'

%h3 Past Projects

%ul
  %li
    = link_to 'Wireless Setup Script', '/files/wireless.rb.html'
    \: Coded up due to lack of good wireless configuration tools in Linux.
    = link_to 'source code', '/files/wireless.rb'
    ,
    = link_to 'sample configuration file', '/files/wireless.conf.rb'

  %li
    = link_to 'DVD Encoding Script', '/files/encode.rb.html'
    \: A fully automated script to backup DVD movies and encode them into the OGM format. Uses Mplayer and Ogm-tools to do the heavy lifting.
    = link_to 'source code', '/files/encode.rb'
