.rcol.feed
  = link_to image_tag('/images/rss.png', :title => 'atom feed'), atom_feed_path
%h1.title Articles
.sep
.clear-both
- unless @articles.nil? or @articles.blank?
  - @articles.each do |article|
    .article
      .title
        .rcol.time== [ #{ article[:time].to_s(:post_short) } ]
        .col
          %h3
            = link_to article[:title].titleize, article_path(article[:id]), :class => 'no-hover'
        .clear-both
      %blockquote.snippet
        = article[:snippet]
        .continue= link_to 'read entire article &raquo;', article_path(article[:id])
- else
  There's nothing to see here. Please move along.
