%ul.vert-bar
  %li= link_to 'Home page', home_path
  %li= link_to 'Blog', home_path
  %li= link_to 'Scrapbook', home_path
  %li= link_to 'Code', home_path
  %li= link_to 'Home page', home_path
  %li= link_to 'Home page', home_path
