%ul.vert-bar
  %li= link_to 'Home page', home_path
  %li= link_to 'Scrapbook', 'http://scrapbook.srikanthak.name/'
  %li= link_to 'Code', code_path
  %li= link_to 'Publications', publications_path
  %li= link_to 'CV', '/files/srikanth_resume.pdf'

.sep

= link_to image_tag('/images/rss.png', :title => 'atom feed'), atom_feed_path
