- if @title.nil?
  - @title = "Srikanth's Homepage"
!!! XML
!!!
%html{ html_attrs }
  %head
    %title
      = @title
    = stylesheet_link_tag 'srikanthak'
    %link{ :rel => 'shortcut icon', :href => image_path('favicon.png')}
    = auto_discovery_link_tag(:atom, atom_feed_path)
  %body
    .page
      #header
        = link_to image_tag('logo.png'), home_path
      .mainmask.col
        #main
          = yield
        .sep.sep-small
        #footer
          &copy; 2005 - 2009 Srikanth Agaram
      .sidebarmask.col
        #sidebar
          = render :partial => 'layouts/nav'
