- if @title.nil?
  - @title = "Srikanth's Homepage"
!!! XML
!!!
%html{ html_attrs }
  %head
    %title
      = @title
    = stylesheet_link_tag 'srikanthak'
    %link{ :rel => 'icon', :href => '/images/favicon.ico'}
  %body
    .headermask
      #header
        = link_to image_tag('logo.png'), home_path

    .mainmask
      - rounded_box 'blue-transparent' do
        .main-layout
          %table
            %tr.main-row
              %td#sidebar
                - rounded_box 'white-blue' do
                  = render :partial => 'layouts/nav'
              %td.layout-gutter
              %td
                - rounded_box 'white-blue' do
                  #main
                    = yield :layout
            %tr.layout-sep
              %td{ :colspan => 3 } &nbsp;
            %tr
              %td#footer{ :colspan => 3 }
                - rounded_box 'footer' do
                  &copy; 2005 - 2009 Srikanth Agaram
