- if @title.nil?
  - @title = "Srikanth's Homepage"
!!! XML
!!!
%html{ html_attrs }
  %head
    %title
      = @title
    = stylesheet_link_tag 'srikanthak'
    %link{ :rel => 'shortcut icon', :href => '/images/favicon.ico'}
    = auto_discovery_link_tag(:atom, atom_feed_path)
  %body
    .headermask
      #header
        = link_to image_tag('logo.png'), home_path

    .mainmask
      - rounded_box 'blue-transparent' do
        - columns = [{:partial => 'layouts/nav', :id => 'sidebar'}, {:yield => true, :id => 'main'}]
        - layout_column_boxes 'white-blue', columns do
          = yield :layout
        .layout-sep
        #footer
          - rounded_box 'footer' do
            &copy; 2005 - 2009 Srikanth Agaram
