!!! 5
%html{html_attrs, 'xmlns:og' => 'http://opengraphprotocol.org/schema/'}
  %head
    %title Srikanth Agaram
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = auto_discovery_link_tag(:atom, articles_path(:format => :atom))
  %body
    = yield
